@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");
* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
}

html {
  height: 100%;
}

input {
  -webkit-appearance: none;
  border-radius: 0;
}

ol, ul {
  list-style: none;
}

body {
  width: 70vw;
  margin: 7rem auto;
  font-family: Roboto, sans-serif;
  display: flex;
  flex-direction: column;
  min-height: 90%;
}
body main {
  padding-bottom: 2rem;
}
body main .main-left {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
}
body main .main-left img {
  width: 95%;
  background-image: url(/public/img/login-a.jpg);
  background-repeat: no-repeat;
  background-position-x: 50%;
  background-position-y: 50%;
  background-size: 80%;
}
body main .main-right {
  display: flex;
  flex-direction: column;
  margin-top: 2em;
}
body main .main-right .login {
  border: 1px solid #DBDBDB;
  padding: 1rem 2rem 0 2rem;
  display: flex;
  flex-direction: column;
}
body main .main-right .login .login-logo {
  width: 180px;
  margin: 0 auto;
}
body main .main-right .login .login-form form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 2em 0 0 0;
}
body main .main-right .login .login-form input {
  border: 1px solid #DBDBDB;
  padding: 9px 0 10px 8px;
  text-align: left;
  font-size: 0.8em;
  min-width: 250px;
  border-radius: 2.5px;
  margin-bottom: 0.5em;
  color: #8E8E8E;
  vertical-align: middle;
  text-overflow: ellipsis;
  margin-bottom: 1em;
}
body main .main-right .login .login-form input:focus {
  background-color: #E8F0FE;
  border: 1px solid #8E8E8E;
  outline: none;
}
body main .main-right .login .login-form button {
  background-color: #B2DFFC;
  color: white;
  font-weight: bold;
  padding: 0.5em 3em;
  width: 250px;
  border-radius: 3px;
}
body main .main-right .login .login-facebook {
  border-top: 1px solid #DBDBDB;
}
body main .main-right .login .login-facebook legend {
  text-align: center;
  padding: 1em;
  color: #8E8E8E;
  font-weight: bold;
  font-size: 0.9em;
}
body main .main-right .login .login-facebook .login-facebook__button {
  display: flex;
  justify-content: center;
  margin: 0.5em 0;
}
body main .main-right .login .login-facebook .login-facebook__button img {
  width: 25px;
  margin: 0 0.3em;
}
body main .main-right .login .login-facebook .login-facebook__button a {
  margin: auto 0;
  color: #385185;
  font-weight: 500;
  font-size: 0.9em;
}
body main .main-right .login .login-facebook .login-facebook__password {
  font-size: 0.8em;
  text-align: center;
  align-self: center;
  margin: 2em;
}
body main .main-right .sing {
  border: 1px solid #DBDBDB;
  padding: 1.35rem 2rem;
  margin-top: 1em;
}
body main .main-right .sing p {
  font-size: 0.9rem;
  text-align: center;
}
body main .main-right .sing a {
  font-weight: bold;
}
body main .main-right .download {
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 1rem 1rem;
}
body main .main-right .download div {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  margin: 1em 0;
}
body main .main-right .download img {
  width: 130px;
}
body footer {
  margin-top: auto;
  margin-bottom: 5rem;
  text-align: center;
}
body footer a {
  font-size: 0.8rem;
  margin: 0 0.5rem;
}

main {
  display: flex;
  justify-content: center;
}

/*# sourceMappingURL=index.css.map */
