@use '../base/colors';
@use '../base/fonts';
@use '../helpers';
@use '../components';

body {
    font-family: fonts.$roboto;
    @include helpers.flex(column);
    min-height: 90%;

    main {
        .main-left {
            @include helpers.flex(column);
            justify-content: space-around;
            img {
                width: 95%;
                background-image: url(/public/img/login-a.jpg);
                background-repeat: no-repeat;
                background-position-x: 50%;
                background-position-y: 50%;
                background-size: 80%;
            }
        }

        .main-right {
            @include helpers.flex(column);
            margin-top: 2em;

            .login {
                border: 1px solid colors.$light-gray;
                padding: 1rem 2rem 0 2rem;
                @include helpers.flex(column);

                .login-logo {
                    width: 180px;
                    margin: 0 auto;
                }

                .login-form {
                    @include components.login-form();
                    @include components.login-button();
                }

                .login-facebook {
                    border-top: 1px solid colors.$light-gray;

                    legend {
                            text-align: center;
                            padding: 1em;
                            color: colors.$gray;
                            font-weight: bold;
                            font-size: 0.85em;
                        }

                        @include components.login-facebook();

                        .login-facebook__password {
                            font-size: 0.8em;
                            text-align: center;
                            align-self: center;
                            margin: 2em;
                        }
                }
            }
            @include components.login-sign();
            @include components.login-download();
        }
    }
    @include components.footer();
}



