
.main-left {
    img {
        width: 31.5%;
        background-image: url(/public/img/login-a.jpg);
        background-repeat: no-repeat;
        background-position-x: 50%;
        background-position-y: 50%;
    }
}
