
* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
}

input {
    -webkit-appearance: none;
    border-radius: 0;
}

ol, ul {
    list-style: none;
}
